[submodule "types/server/sn_typings_server_scoped"]
	path = types/server/sn_typings_server_scoped
	url = https://github.com/erwinel/sn_typings_server_scoped.git
[submodule "types/client/sn_typings_client_scoped"]
	path = types/client/sn_typings_client_scoped
	url = https://github.com/erwinel/sn_typings_client_scoped.git
